---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import proyectosRealizados from "../data/proyectos.json"

const pageTitle = "Proyectos";
---
<Layout title = {pageTitle}>
    <div class="space-y-2">
        <h1 class="text-3xl font-bold py-4 text-zinc-900 md:text-2xl">Tecnologías que manejo:</h1>
        <p class="text-lg leading-loose">He estado usando <b> Netlify y Vercel</b> para desplegar aplicaciones web y <b>RENDER</b> para APIs. Hasta hace poco he estado usando el servicio de <b>Cloudinary</b> para almacenar imagenes/videos. Para las APIs he estado implementando <b>JWT</b> para proteger rutas y he documentado las rutas con <b>Swagger</b>.</p>
        <p class="font-bold md:text-lg">Actualmente estoy aprendiendo: (Marzo 2024)</p>
        <p class="py-2 text-lg leading-loose">Astro, React, Tailwind y MongoDB.</p>
        <p class="font-bold md:text-lg">En el Frontend:</p>
        <p class="py-2 text-lg leading-loose">HTML, JavaScript, CSS y Axios.</p>
        <p class="font-bold md:text-lg">Bases de datos:</p>
        <p class="py-2 text-lg leading-loose">Supabase y MySql.</p>
        <p class="font-bold md:text-lg">En el Backend:</p>
        <p class="py-2 text-lg leading-loose">Python con Flask.</p>
        <p class="font-bold md:text-lg">En el análisis de datos:</p>
        <p class="py-2 text-lg leading-loose">Jupyter Notebook, Pandas, Numpy, Excel, SQL, SSIS, Scikit-learn.</p>
    </div>

    <div class="proyectos py-5">

        <div class="flex flex-col mt-5 space-y-5 justify-between lg:flex-row md:mt-12">
            <div>
                <p class="text-3xl md:text-4xl font-bold leading-tight"><i class="fa-solid fa-folder" aria-hidden="true"></i> Proyectos</p>
            </div>
            <div>
                <a class="text-zinc-900 bg-gray-200 hover:bg-gray-300 font-medium rounded-lg text-md px-3 py-3 md:py-3" target ="_blank"  href="https://github.com/jeantpdev"><i class="fa-brands fa-github" aria-hidden="true"></i> Ver todos </a>
            </div>
        </div>

        
        <div class="flex flex-col gap-y-12 mt-12">
            {proyectosRealizados.map((proyectos, id) => {
                return(
                <Card
                    titulo = {proyectos.titulo},
                    tecnologias = {proyectos.tecnologias},
                    descripcion = {proyectos.descripcion},
                    link_github = {proyectos.link_github},
                    link_pagina = {proyectos.link_pagina},
                    id = {id},
                />
                );
            })
        }
        </div>

    </div>
</Layout>